<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Inventory</title>
    <script>
        function handleDeleteCategory(e) {
            e.preventDefault();
            const adminpass = document.getElementById('adminpass').value;
            const url = e.target.closest('a').href;
            const categ = document.getElementById('catname').textContent;
            console.log(url)
            console.log(adminpass)
            window.location.href = `${url}?cat=${categ}&adminpass=${adminpass}`
        }
    </script>
  </head>
  <body
    class="flex flex-col h-screen items-center bg-slate-800 text-zinc-50 gap-4"
  >
    <%- include('navbar', {categories: categories, path:path}) %>
    <div class="flex gap-2">
        <% let pathname = path.slice(1);%>
        <% if (pathname.includes('/')) { %>
        <% pathname = pathname.split('/') %>
        <% let catName = pathname[1]; let brandName = pathname[2] %>
        <h2 class="text-2xl font-semibold mb-4"><%= brandName %></h2>
        <h2 id="catname" class="text-2xl font-semibold mb-4"><%= catName %></h2>
        <% } else { %>
      <h2 class="text-2xl font-semibold mb-4"><%= path.slice(1) %></h2>
      <% } %>
      <div class="flex self-center items-center text-center gap-1">
        <a href="/edit?">
            <svg width="24"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>square-edit-outline</title><path d="M5,3C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19H5V5H12V3H5M17.78,4C17.61,4 17.43,4.07 17.3,4.2L16.08,5.41L18.58,7.91L19.8,6.7C20.06,6.44 20.06,6 19.8,5.75L18.25,4.2C18.12,4.07 17.95,4 17.78,4M15.37,6.12L8,13.5V16H10.5L17.87,8.62L15.37,6.12Z" fill="#fafafa"/></svg>
        </a>
        <a href="/deletecat" onclick="handleDeleteCategory(event)">
            <svg width="24"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trash-can-outline</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" fill="#FF4C4C"/></svg>
        </a>
      </div>
    </div>
    <div
      class="flex flex-wrap w-full justify-center items-center gap-4 overflow-auto mb-6"
    >
      <% items.forEach(item => { %> <%- include('productCard', {item:item}) %>
      <%}) %>
    </div>
    
  </body>
</html>
